<nz-row [nzGutter]="16" nzJustify="center">
  <nz-col [nzSpan]="4">
    <nz-statistic [nzValue]="duration + ' months'" [nzTitle]="'Duration'"></nz-statistic>
  </nz-col>
  <nz-col [nzSpan]="4">
    <nz-statistic [nzValue]="gigabytes + ' GB'" [nzTitle]="'Amount of gigabytes in a cloud'"></nz-statistic>
  </nz-col>
  <nz-col [nzSpan]="4">
    <nz-statistic [nzValue]="priceUsdPerGb + ' USD'" [nzTitle]="'Price per GB'"></nz-statistic>
  </nz-col>
  <nz-col [nzSpan]="4">
    <nz-statistic [nzValue]="total + ' USD'" [nzTitle]="'Total price'"></nz-statistic>
  </nz-col>
</nz-row>
